#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b > #backgroundBox {
  position: absolute;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b > #alignmentBox {
  position: relative;
  max-width: 360.0px;
  max-height: 760.0px;
  width: 100%;
  height: 100%;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph .valign {
  vertical-align: top;
  text-align: left;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph span#rtr-s-Paragraph_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph_1 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input {
  position: absolute;
  width: 311.99999999999994px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input .valign {
  vertical-align: middle;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph_2 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph_2 span {
  color: #333333;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input_1 input::-webkit-input-placeholder {
  color: #B4B4B4;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input_1 input::-moz-placeholder {
  color: #B4B4B4;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input_1 input:-moz-placeholder {
  color: #B4B4B4;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input_1 input:-ms-input-placeholder {
  color: #B4B4B4;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input_1 {
  position: absolute;
  width: 311.99999999999994px;
  height: 29.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input_1 .valign {
  vertical-align: middle;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input_1 input {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input_1 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input_1 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #C8C8C8;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #C8C8C8;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #C8C8C8;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #C8C8C8;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Input_1 .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 5px;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Button {
  position: absolute;
  width: 277.0px;
  min-height: 50.00000000000023px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Button > .backgroundLayer > .colorLayer {
  background-color: transparent;
  background-image: linear-gradient(180.0deg, #FFFFFF 0.001%, #E6E6E6 99.99999999999996%);
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Button > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #CDCDCD;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #CDCDCD;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #CDCDCD;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #CDCDCD;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Button .paddingLayer:first-child {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Button .valign {
  vertical-align: middle;
  text-align: center;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Button span {
  color: #030303;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b #s-Button span#rtr-s-Button_0 {
  color: #030303;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.0pt;
  font-style: normal;
  font-weight: 400;
}

.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}

.non_jim_mobile #simulation {
  overflow-x: hidden;
}

.web #simulation {
  overflow-x: hidden;
}

#s-e58d4537-b5fe-4c9a-9c5d-f018888c324b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}
