<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="edu.handong.android.soccerfield">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SoccerField">
        <activity
            android:name=".Update_sf_info"
            android:exported="false" />
        <activity
            android:name=".Signin_ad"
            android:exported="false" />
        <activity
            android:name=".SF_list"
            android:exported="false" />
        <activity
            android:name=".SF_admin"
            android:exported="false" />
        <activity
            android:name=".Reservation_info"
            android:exported="false" />
        <activity
            android:name=".Reservations"
            android:exported="false" />
        <activity
            android:name=".Password_update"
            android:exported="false" />
        <activity
            android:name=".field_admin"
            android:exported="false" />
        <activity
            android:name=".Cancel_Reservation"
            android:exported="false" />
        <activity
            android:name=".BalanceAdmin"
            android:exported="false" />
        <activity
            android:name=".AdminOptions"
            android:exported="false" />
        <activity
            android:name=".LoginAdmin"
            android:exported="false" />
        <activity
            android:name=".CheckReservation"
            android:exported="false" />
        <activity
            android:name=".ReserveOK"
            android:exported="false" />
        <activity
            android:name=".ReserveConfirm"
            android:exported="false" />
        <activity
            android:name=".SoccerFieldInfo"
            android:exported="false" />
        <activity
            android:name=".ChooseField"
            android:exported="false" />
        <activity
            android:name=".FieldSearch"
            android:exported="false" />
        <activity
            android:name=".MainActivity"/>
            <activity
                android:name=".SplashScreen"
                android:exported="true"
                android:theme="@style/SoccerField">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>